
<header>
  <div class="container">
    <a routerLink="/" class="logo">Food Mine!</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container" (click)="toggleMenu()" (mouseleave)="hideMenu()">
          <a>{{user.name}}</a>
          <div class="menu" [ngClass]="{ 'show-menu': isMenuVisible }">
            <a routerLink="/profile">Profile</a>
            <a *ngIf="order.id" routerLink="/track/{{order.id}}">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
